<!-- <div >
    
    Pattern Name: <input id = "this.com.pat_input" type="text">
    <button class="btn btn-primary" (click)="updateDisplay(); this.com.saveBassPattern(); ">Save Pattern</button><br> 
    <label for="patterns">Load Pattern</label>
    <select id="patterns" required>
        <option *ngFor="let pattern of patterns" [value]="pattern">{{pattern.title}}</option>
      </select>
  </div> -->

  <div class="pattern-input-wrapper">
        <input type="text" [(ngModel)]="patternText" value={{patternText}}/>
        <button class="btn btn-primary" (click)="addPattern()">Save this Bass Line</button>
    </div>
      