.contFluid {
    background-color: rgb(158, 158, 158);
    align-content: center;
}
button:hover { 
    background-color: yellow;
}
.active {
    background-color: red;
}
button:active{
    background:olive;
}
.row{
    text-align: center;
}
.col {
    width: 15%;
    padding: 2px
}
.chordRow {
    padding: 5px
}
.tonicRoot {
    /* background-color: red; */
    padding:5px
}

.mode {
    /* background-color: purple; */
    padding:5px
}
.trBut{
    width: 50px;
    padding: 5px;
}
